---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/tv?include_adult=false&language=hu-HU&page=9&query=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Authorization:
      - Bearer secret_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":9,"results":[{"backdrop_path":null,"first_air_date":"2015-05-05","genre_ids":[99],"id":156789,"name":"Die Diät-Tester","origin_country":["DE"],"original_language":"de","original_name":"Die Diät-Tester","overview":"","popularity":0.6,"poster_path":null,"vote_average":0,"vote_count":0}],"total_pages":9,"total_results":161}'
  recorded_at: Fri, 19 Aug 2022 20:34:50 GMT
recorded_with: VCR 6.1.0
