.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
  %main.px-3.bg-info.rounded
    %h1 Welcome.
    %p.lead Millions of movies, TV shows and people to discover. Explore now.
    = form_tag(root_path, method: :get, class: "row p-3 justify-content-md-center") do
      .col-md-4.p-1
        = text_field_tag :query, params[:query], class: "form-control", placeholder: "Search for movies, TV shows and people"
      .col-md-3.p-1
        .form-check.form-check-inline.p-1
          = radio_button_tag("media_type", "Movie", params[:media_type] == "Movie", checked: true)
          Movie
          = radio_button_tag("media_type", "Tv", params[:media_type] == "Tv", checked: false)
          TV Series
      .col-md-2.p-1
        %input.form-control{type: "submit", name: "search", value: "Search", class: "btn btn-primary"}
